<?xml version="1.0" encoding="UTF-8"?>
<web-app id="foo_webapp" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Some example web application</display-name>
    <description>
        Student example application
    </description>

    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>webapp.foo</param-value>
    </context-param>
    
	<session-config>
    	<session-timeout>10</session-timeout>
  	</session-config>
  	
  	<servlet>
  		<servlet-name>hi</servlet-name>
  		<servlet-class>ru.spbstu.telematics.student.HelloWorldServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>hi</servlet-name>
		<url-pattern>/hello/*</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>person</servlet-name>
  		<servlet-class>ru.spbstu.telematics.student.PersonServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>person</servlet-name>
		<url-pattern>/person/*</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>objects</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.ViewObjectServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>objects</servlet-name>
		<url-pattern>/objects/object_view.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>objectValues</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.ViewObjectValueServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>objectValues</servlet-name>
		<url-pattern>/values/object_value_view.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>deleteObject</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.DeleteObjectServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>deleteObject</servlet-name>
		<url-pattern>/objects/delete_object.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>addObject</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.AddObjectServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>addObject</servlet-name>
		<url-pattern>/objects/add_object.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>addValue</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.AddValueServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>addValue</servlet-name>
		<url-pattern>/values/add_value.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>deleteValue</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.DeleteValueServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>deleteValue</servlet-name>
		<url-pattern>/values/delete_value.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>viewClass</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.ViewClassServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>viewClass</servlet-name>
		<url-pattern>/classes/class_view.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>deleteClass</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.DeleteClassServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>deleteClass</servlet-name>
		<url-pattern>/classes/delete_class.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>addClass</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.AddClassServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>addClass</servlet-name>
		<url-pattern>/classes/add_class.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>editClass</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.EditClassServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>editClass</servlet-name>
		<url-pattern>/classes/edit_class.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>viewClassStyle</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.ViewClassStyleServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>viewClassStyle</servlet-name>
		<url-pattern>/class_styles/class_style_view.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>addClassStyle</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.AddClassStyleServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>addClassStyle</servlet-name>
		<url-pattern>/class_styles/add_class_style.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>deleteClassStyle</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.DeleteClassStyleServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>deleteClassStyle</servlet-name>
		<url-pattern>/class_styles/delete_class_style.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>editClassStyle</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.EditClassStyleServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>editClassStyle</servlet-name>
		<url-pattern>/class_styles/edit_class_style.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>viewStyle</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.ViewStyleServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>viewStyle</servlet-name>
		<url-pattern>/styles/style_view.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>addStyle</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.AddStyleServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>addStyle</servlet-name>
		<url-pattern>/styles/add_style.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>deleteStyle</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.DeleteStyleServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>deleteStyle</servlet-name>
		<url-pattern>/styles/delete_style.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>editStyle</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.EditStyleServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>editStyle</servlet-name>
		<url-pattern>/styles/edit_style.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>viewFamily</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.ViewFamilyServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>viewFamily</servlet-name>
		<url-pattern>/families/family_view.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>addFamily</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.AddFamilyServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>addFamily</servlet-name>
		<url-pattern>/families/add_family.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>deleteFamily</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.DeleteFamilyServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>deleteFamily</servlet-name>
		<url-pattern>/families/delete_family.jsp</url-pattern>  	
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>editFamily</servlet-name>
  		<servlet-class>ru.spbstu.telematics.objectCatalog.EditFamilyServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>editFamily</servlet-name>
		<url-pattern>/families/edit_family.jsp</url-pattern>  	
  	</servlet-mapping>

</web-app>
