body {
	margin:0px;
}
.main {
	width:1000px;
	margin:auto;
}

.data, .filter {
	border: 3px solid #0df;
	border-radius:10px;
	padding: 10px;
	margin-top:10px;
}

.data table{
	border:none;
	margin:auto;
	width:100%;
}

.data th{
	background-color:#e5e5e5;
}

.data td{
	background-color:#f0f0f0;
	text-align:center;
}
